*.o
*.ncb
*.user
*.suo

.DS_Store

pconvert
benchmark.txt
graph_info.json

conan.lock
conaninfo.txt
conanbuildinfo.*

/bin
/dist
/build
/pconvert_python.egg-info
/win32/vs2008ex/*/*
/assets/demo/result*.png
