*.o
*.ncb
*.user
*.suo
*.pyc

.DS_Store

pconvert
benchmark.txt
graph_info.json

conan.lock
conaninfo.txt
conanbuildinfo.*

CMakeCache.txt
cmake_install.cmake

/ALL_BUILD.*

/.vscode/settings.json

/bin
/dist
/build
/pconvert_python.egg-info
/src/python/pconvert*.so
/src/python/pconvert_python.egg-info
/win32/vs2008ex/*/*
/assets/demo/result*.png

/x64
/win32
/lib
/Debug
/Release
/CMakeFiles
/pconvert.dir
/ALL_BUILD.*
/ZERO_CHECK.*
/pconvert.*
